body {
    color: black;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

header {
    flex: auto;
    justify-content: space-between;
    align-items: center;
    color: black;
    padding: 10px 0;
    text-align: center;
}

.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: pink;
    padding: 0 20px;
}

.logo {
    display: flex;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/4/46/SM_Entertainment_Logo.svg/512px-SM_Entertainment_Logo.svg.png') no-repeat center center;
    background-size: cover;
    margin-right: 20px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    gap: 20px;
    margin: 20px 0;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

nav a {
    color: black;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 50px;
    transition: background 0.3s;
}

nav a:hover {
    background: pink;
}

/*.banner-header {
    background-size: cover;
    height: 200px;
    border-radius: 5px;
}*/

main {
    margin: 20px auto;
    padding: 20px;
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/*.banner {
    /*background: url('https://png.pngtree.com/background/20210709/original/pngtree-full-aesthetic-nebula-starry-sky-banner-background-picture-image_916071.jpg') no-repeat center center;
    background-size: cover;
    height: 200px;
    border-radius: 5px;
}*/

.message-form {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px auto;
}

.card-form {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px auto;
}

.form-answer {
    border: black solid 1px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px auto;
}


footer {
    text-align: center;
    padding: 20px;
    background: pink;
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 50px;
    transition: background 0.3s;
}

@media only screen and (max-width: 600px) {
    .nav-header {
        flex-direction: column;
        align-items: center;
    }

    .menu {
        width: 180px;
        flex-direction: column;
    }

    .logo {
        margin-bottom: 14px;
    }
}
