
body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: goldenrod;
    border-bottom: 1px solid #ccc;
}

.main-logo {
    justify-content: flex-start;
    width: 100px;
    height: 50px;
    background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/0/0d/YG_Entertainment_Logo.svg/1500px-YG_Entertainment_Logo.svg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    background-color: goldenrod;
    color: black;
    padding: 10px;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

nav a:hover {
    color: white;
    background-color: black;
    padding: 5px 10px;
    border-radius: 5px;
}
